rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function estAdmin() { return request.auth != null; }
    match /shop/config   { allow read: if true; allow write: if estAdmin(); }
    match /offres/{id}   { allow read: if true; allow write: if estAdmin(); }
    match /actus/{id}    { allow read: if true; allow write: if estAdmin(); }
    match /jour/{id}     { allow read: if true; allow write: if estAdmin(); }
    match /pubs/{id}     { allow read: if true; allow write: if estAdmin(); }
    match /clients/{id} {
      allow get: if true;
      allow list: if estAdmin();
      allow create: if estAdmin() || (
        request.resource.data.keys().hasOnly(['code','nom','tel','points','depuis','accord'])
        && request.resource.data.keys().hasAll(['code','nom','tel','points','depuis','accord'])
        && request.resource.data.points == 0
        && request.resource.data.code is string && request.resource.data.code.matches('RAD-[A-Z0-9]{5}')
        && request.resource.data.nom is string && request.resource.data.nom.size() > 0 && request.resource.data.nom.size() <= 60
        && request.resource.data.tel is string && request.resource.data.tel.size() <= 20
        && request.resource.data.depuis is string && request.resource.data.depuis.size() <= 10
        && request.resource.data.accord is string && request.resource.data.accord.size() <= 10);
      allow update: if estAdmin();
      allow delete: if estAdmin();   // seule l'épicerie supprime une carte
      match /historique/{h} {
        allow read: if true;              // consultation par le titulaire
        allow delete: if estAdmin();
        allow create, update: if estAdmin();
      }
    }
  }
}
